.container {
  padding: 24px;
  background-color: #f9f9f9;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.fox {
  position: absolute;
  top: -60px;
  right: 10px;
  z-index: 10;
}

.flowers {
    position: relative;
    bottom: 5px;
}

.sortIcon {
  vertical-align: middle;
  margin-left: 4px;
  color: #8272f5;
}